*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}
html{
    background: linear-gradient(black, red);
}
header{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    position: static;
    width: 100%;
    z-index: 100;
    font-size: 40px;
}
h1.nom1{
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 5px;
    font-size: 40px;
}
h2.carr{
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 5px;
    display: flex;
    font-size: 40px;
}
.menu{
    font-size: 40px;
    display: flex;
    margin-right: 120px; 
    margin-right: 120px;
}
.menu a{
    display: block;
    padding: 30px 30px 30px 30px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.titulo1{
    font-size:50px;
    color: white;
    text-align: left;
    padding: 20px 20px 20px 20px;
    margin: 120px 20px 20px 500px;
}
.contenido1{
    width: 30%;
    height: 30%;
    font-size:35px;
    color: white;
    padding: 2%;
    margin: 2%;
    text-align: left;
}
.titulo2{
    font-size:50px;
    color: white;
    padding: 20px 20px 20px 20px;
    margin: 20px 250px 20px 20px;
    text-align: right;
}
.contenido2{
    width: 30%;
    height: 30%;
    font-size:35px;
    color: white;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    float: right;
}
.titulo3{
    font-size:50px;
    color: white;
    text-align: left;
    padding: 20px 20px 20px 20px;
    margin: 120px 20px 20px 450px;
}
.contenido3{
    width: 30%;
    height: 30%;
    font-size:35px;
    color: white;
    padding: 2%;
    margin: 2%;
    text-align: left;;
}
.titulo4{
    font-size:50px;
    color: white;
    padding: 10px;
    margin: 0px 0px 50px 0px;
    text-align: center;
}
.pie_pagina{
    background-color: white;
    width:300px;
    height: 350px;
    padding:15px;
    border: 5px solid black;
}
.contacto{
    text-align: center;
}
.contacto a{
    color: white;
    font-size: 35px;
    margin: 50px;
    text-decoration: none;
}
.btn_git a{
    float: left;
    margin: 30px 30px 30px 550px;
}
footer{
    margin: 500px 0px 50px 0px;
    font-size: 30px;
    text-align: center;
    color: white;
}
