*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}
html{
    background-color: darkred;
}
header{
    margin: -20px 0px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    position: fixed;
    width: 100%;
    z-index: 100;
}

h1.nom1{
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 5px;
}
h2.carr{
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 5px;
    display: flex;
}
.navbar{
    display: flex;
    margin-right: 10px; 
}
.navbar a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.titulo1{
    font-size:35px;
    margin: 20px;
    color: white;
    padding: 10px;
}
.contenido1{
    width: 85%;
    font-size:35px;
    color: white;
    padding: 2%;
    margin: 2%;
    text-align: center;

}
.titulo2{
    font-size:50px;
    color: white;
    padding: 10px;
    text-align: center;
 
}
.contenido2{
    width: 100%;
    font-size:35px;
    color: white;
    padding: 10px;
    margin: 20px;
    text-align: center;

}.titulo3{
    font-size:50px;
    color: white;
    padding: 10px;
    text-align: center;
}
.contenido3{
    width: 100%;
    font-size:35px;
    color: white;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.titulo4{
    font-size:50px;
    color: white;
    padding: 10px;
    text-align: center;
}
.contenido4{
    width: 1500px;
    font-size:25px;
    color: white;
    padding: 10px;
    margin: 20px;
}
.pie_pagina{

    background-color: white;
    width:300px;
    height: 350px;
    padding:15px;
    border: 5px solid black;
}
.btn_git a{
    text-align: center;
}
.Contacto a.Face{
    text-align: right;
}
.Contacto a.Inst{
    text-align: center;
}
.Contacto a.X{
    text-align: left;
}
footer{
    font-size: 30px;
    text-align: center;
    color: white;
}
